* {
	font-family: "Jost", sans-serif;
	font-weight: 700;
	font-style: normal;
	box-sizing: border-box;
}

body {
	background-color: #eef4f5;
}

.container-primeraCHamba {
	position: relative;
	top: 100px;
	margin: auto;
	margin-top: 50px;
	width: 900px;
	height: 400px;
	/* outline: 2px dashed black; */
}

#presentacion {
	font-size: 3.5vw;
	text-align: center;
	/* outline: 2px dashed black; */
}

.parrafo-intro {
    /* outline: 2px dashed black; */	
    text-align: center;
    padding: 20px;
}

#button-ingreso {
	background-color:  #143076;
	color: white;
	margin: auto;
	padding: 10px 35px;
	border-radius: 15px;
	font-size: 1.5vw;
	display: block;
	width: fit-content; /* Ancho ajustado al contenido */
	margin-top: 30px; /* Espacio superior para separar del párrafo */
	text-decoration: none;
	cursor:pointer
}

#button-ingreso:hover {
	background-color:  #7a92cd;
	background-color: #8bc6ef;

}

/* Define una animación de desvanecimiento */
@keyframes desvanecer {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Aplica la animación a los elementos que quieras desvanecer */
.elemento-a-desvanecer {
  animation: desvanecer 5s ease forwards;
}

@media screen and (max-width: 768px) {
	/* para dispositivos moviles */

body {
	overflow-y: hidden; /* Evita el scroll vertical */
	height: auto;
	outline: 2px dashed red;

}
	
.container-primeraCHamba {
	display:flex;
	flex-direction: column;
	width: auto;
	height: auto;
	outline: 2px dashed green;
	margin: 0px;
	position: relative;
	top: 0;
}

	
}
